:root{
	--h1-md: 28px;
	--h1-fs: 20px;
	--h2-fs: 18px;
	--h3-fs: 16px;
	--h4-fs: 14px;
	--h5-fs: 12px;
	--h5-fs: 10px;

	--p-fs-sm: 10px;
	--p-fs-md: 12px;
	--p-fs-lg: 16px;
	--p-fs-xlg: 20px;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}

body{
	/* margin: 30px; */
	background-color: #f2f2f2;
	margin-left: 300px;
}

/* Header _____________________________ */
.header{
	position: fixed;
	top: 0px;
	left: 300px;
	right: 0px;
	height: 70px;
	background-color: white;
	z-index: 1;
	box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
}
/* end _____________________________ */

/* SideBar _____________________________ */
.sidebar{
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);

	padding: 20px;
}
.sidebar_title{
	color: darkblue;
}
/* end _____________________________ */

/* Toggle _____________________________ */
.theme-switcher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.switch-input {
  display: none;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 34px;
  background-color: darkgray;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.switch-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch-input:checked + .switch-label::before {
  background-color: #383838;
}

.switch-input:checked + .switch-label::after {
  transform: translateX(26px);
}
/* end _____________________________ */

	/* TASKS */
	.twoColoumn{
		display: flex;
		column-gap: 20px;
	}
	.tasks_block, .completedTasks_block{
		width: 600px;
		margin-bottom: 20px;
	}
	.tasks_block h1, .completedTasks_block h1{
		font-size: var(--h1-md);
		margin-bottom: 8px;
		margin-left: 10px;
	}
	.tasks_container, .complitiedTasks_container{
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}
	.divTask{
		display: flex;
		flex-direction: row;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	}
	.divTask:hover{
		transform: translateY(-0.25em);
		box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
	}
	.divLeft{
		background-color: white;
		border-radius: 8px 0px 0px 8px;
		cursor: pointer;
		padding: 8px 16px;
		transition: transform 0.2s;
		flex: 1;
	}
	.divLeft p{
		font-size: var(--p-fs-md);
	}
	.divTitle{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.divTitle h2{
		font-size: var(--h2-fs);
	}
	.completed{
		color: green;
		font-weight: bold;
		font-size: var(--p-fs-md);
	}
	.delete{
		color: white;
		border: none;
		border-radius: 0px 4px 4px 0px;
		padding: 6px 18px;
		cursor: pointer;
		background-color: brown;
		height: 100%;
		font-size: var(--h4-fs);
	}

	/* POPUP */
	.popup_block{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	.displayBlock{
		display: block;
	}
	.popup_container{
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateY(-50%);
		transform: translateX(-50%);
		background-color: white;
		border-radius: 8px;
		padding: 12px;
	}
	.popup_container p{
		font-size: var(--p-fs-md);
	}
	.popup_title{
		display: flex;
		justify-content: space-between;
		column-gap: 32px;
		align-items: top;
		margin-bottom: 10px;
	}
	.popup_title h2{
		font-size: var(--h2-fs);
	}
	.popup_title h3{
		cursor: pointer;
		font-size: var(--h3-fs);
	}
	.popup_buttons{
		margin-top: 16px;
		display: flex;
		justify-content: center;
		column-gap: 4px;
	}
	.take, .cancel{
		color: white;
		border: none;
		border-radius: 4px;
		padding: 6px 18px;
		cursor: pointer;
		font-size: var(--p-fs-sm);
	}
	.take{
		background: linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(66, 141, 0, 1) 100%);}
	.cancel{
		background-color: gray;
	}

	/* ADD TASK */
	.addTasks_block{
		border-radius: 8px;
		padding: 12px;
		width: 300px;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
	}
	.addTasks_block h1{
		margin-bottom: 14px;
		font-size: var(--h1-fs);
	}
	.addTasks_container input{
		display: block;
		border: none;
		border-bottom: 1px solid;
		margin-bottom: 20px;
		/* height: 40px; */
		font-size: var(--p-fs-md);
		padding: 8px;
		outline: none;
	}
	.addTasks_container label{
		display: block;
	}
	.add, .clear{
		color: white;
		border: none;
		border-radius: 4px;
		padding: 6px 18px;
		cursor: pointer;
		font-size: var(--p-fs-md);
	}
	.add{
		background: linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(66, 141, 0, 1) 100%);
	}
	.clear{
		background-color: gray;
	}
